
body{
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Define a fonte da página. */
    background: #57C785;
    background: linear-gradient(130deg, rgba(87, 199, 133, 1) 0%, rgba(42, 123, 155, 1) 80%);/* Define a cor de fundo da página. */
    color: #222;/* Define a cor da fonte do site. */
    
    display: flex;
    justify-content: center;/* Centaliza os elementos na horizontal */
    align-items: center;/* Centraliza os elementos na vertical */
    min-height: 100vh;/* Faz com o body oculpe 100% da página */
    margin: 0;/* Remove todas as mergens padrão do body */
}

.business-card {
    width: 400px;
    padding: 30px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card-name {
    font-size: 2rem;
    color: #2c3e50;
    margin-top: 0;
    margin-bottom: 5px;
}

.card-title {
    font-size: 1.1rem;
    color: #7f8c8d;
    font-weight: 300;
    margin-top: 0;
    margin-top: 20px;
}

.card-divider {
    border: none;
    height: 2px;
    background-color: #dddddd;
    margin: 0 auto 20px;
    width: 80%;
}

.card-contact {
    font-size: 1rem;
    color: #34495e;
    margin-bottom: 10px;
}

.card-contact a {
    text-decoration: none;
    color: #0084ff;
    transition: color 0.3s;
}

.card-contact a:hover{
    color: #8502ff;
}